<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Detail Packages</title>

    <link rel="stylesheet" href="/Content/car_detail_system.css">
</head>
<body>