    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="nav-left">
            <img src="/media/logo.png" class="logo" alt="Logo">
            <span class="brand">Car Detail System</span>
        </div>

        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#packages">Packages</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
