/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}
.logo {
    width: 40px;
    height: 40px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links a:hover {
    color: #00B7FF;
}

.hero {
    background: #333;
    padding: 120px 20px;
    text-align: center;
    color: white;
}

.hero-logo {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 22px;
}

/* PACKAGES */
.packages-section {
    text-align: center;
    padding: 60px 20px;
}

.package-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.package-card {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.package-card h3 {
    font-size: 22px;
}

.package-card button {
    margin-top: 15px;
    padding: 10px 20px;
    width: 100%;
    background: #00B7FF;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.package-card button:hover {
    background: #0098d1;
}

/* CONTACT */
.contact-section {
    padding: 60px 20px;
    background: #fff;
    text-align: center;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact-form button {
    padding: 12px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.contact-form button:hover {
    background: #444;
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}
